{% extends 'base.html.twig' %}

{% block title %}Company {{ company.name }}{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="card" style="width: 58rem;">
            <div class="card-body">
                <h5 class="card-title">{{ company.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ company.address }}</h6>
                <p class="card-text">{{ company.description }}</p>
                <a href="{{ path('companies') }}" class="card-link">< Back</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
{% endblock %}
