{% extends 'base.html.twig' %}

{% block title %}Companies{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>All companies</h1>
        <br>
        <table class="table">
            <thead>
            <tr>
                <td>Название</td>
                <td>Адрес</td>
            </tr>
            </thead>
            <tbody>
            {% for company in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td><a href="{{ path('company', {'company_slug': company.slug}) }}">{{ company.name }}</a></td>
                    <td>{{ company.address }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}