
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('index')}}">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('registered_users') }}">Registered users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('companies') }}">Companies</a>
            </li>
        </ul>

        {% if app.user != null %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="nav-link" href="{{ path('registered_users') }}">Registered Users: {{ getRegistrationsCount() }}</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profile') }}">{{ app.user.username }}</a>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('sign_up') }}">Sign Up</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('sign_in') }}">Login</a>
                </li>
            </ul>
        {% endif %}

    </div>
</nav>