<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>You did it! You registered!</h3>
    Hi {{ name }}! You're successfully registered.
</body>
</html>