{% extends 'base.html.twig' %}

{% block title %}Parameters{% endblock %}

{% block body %}
<div class="example-wrapper">
    {{ smile }}
    <table class="table">
        <thead>
        <tr>
            <td>Ключ</td>
            <td>Значение</td>
        </tr>
        </thead>

        <tbody>
        {% for key, val in parameters %}
            <tr>
                <td>{{ key }}</td><td>{{ val }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}