{% extends 'base.html.twig' %}

{% block title %}Registered users{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Registered users</h1>
        <br>
        <table class="table">
            <thead>
            <tr>
                <td>Аватар</td>
                <td>Имя</td>
                <td>Email</td>
                <td>Дата</td>
                <td>Обо мне</td>
                {% if is_granted('ROLE_ADMIN') %}<td>Удалить</td>{% endif %}
            </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>
                        {% if vich_uploader_asset(user, 'imageFile') != null%}
                            <img src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('my_thumb') }}" alt="{{ user.username }}" />
                        {% endif %}
                    </td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.registeredAt|date }}</td>
                    <td>{{ user.aboutMe }}
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-dark" href="{{ url('delete_user', {user: user.id}) }}" role="button">delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('sign_up') }}">Зарегаться</a>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
