{% extends 'base.html.twig' %}

{% block title %}Registration completed{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="alert alert-success" role="alert">
            <h1>Registration completed. Email sent to {{ user_mail }}</h1>
        </div>
    </div>

{% endblock %}