{% extends 'base.html.twig' %}

{% block title %}Hello SignUpController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>SignUp</h1>
    {{ form(form) }}
    <a href="{{ path('registered_users') }}">Зареганые юзеры</a>
</div>
{% endblock %}
