{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form) }}

        <h1 class="h3 mb-3 font-weight-normal">Settings</h1>


        <div class="form-group">
            {{ form_widget(form.position, {'attr': {'class': 'form-control', 'placeholder': 'Position'}}) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.aboutMe, {'attr': {'class': 'form-control', 'placeholder': 'About Me'}}) }}
        </div>
        {{ form_label(form.address) }}
        <div class="form-group">

            <div class="form-row">
                <div class="col-3">
                    {{ form_widget(form.address.country, {'attr': {'class': 'form-control', 'placeholder': 'Country'}}) }}
                </div>

                <div class="col-3">
                    {{ form_widget(form.address.city, {'attr': {'class': 'form-control', 'placeholder': 'City'}}) }}
                </div>

                <div class="col-4">
                    {{ form_widget(form.address.street, {'attr': {'class': 'form-control', 'placeholder': 'Street'}}) }}
                </div>

                <div class="col">
                    {{ form_widget(form.address.house, {'attr': {'class': 'form-control', 'placeholder': 'House'}}) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <ul class="skills list-group" data-prototype="{{ form_widget(form.skills.vars.prototype)|e }}">
                    {% for skill in form.skills %}
                        <li class="list-group-item"> {{ form_widget(skill) }} </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="form-company"
                 data-prototype="{{ form_widget(form.companies.vars.prototype)|e('html_attr') }}"
                 data-widget-counter="{{ form.companies|length }}"
            >
                {% for company in form.companies %}

                <div class="card" style="margin-top: 20px;">
                    <div class="card-header">
                        Company
                    </div>
                    <div class="card-body">
                         {{ form_widget(company) }}
                    </div>
                </div>

                {% endfor %}
            </div>
            <br>
            <button type="button" class="add-another-collection-widget btn btn-outline-dark">Add another company</button>
        </div>

            {{ form_widget(form.submit,  {'label': 'Save', 'attr': {'class': 'btn btn-primary'}}) }}

        {{ form_end(form) }}
    </div>
{% endblock %}